config.stopBubbling=true
lombok.nonNull.exceptionType=JDK
lombok.addLombokGeneratedAnnotation=true
lombok.nonNull.flagUsage=Error
lombok.sneakyThrows.flagUsage=Error
lombok.log.apacheCommons.flagUsage=Error
lombok.log.flogger.flagUsage=Error
lombok.log.jbosslog.flagUsage=Error
lombok.log.javaUtilLogging.flagUsage=Error
lombok.log.log4j.flagUsage=Error
lombok.log.log4j2.flagUsage=Error
lombok.log.slf4j.flagUsage=Error
lombok.log.xslf4j.flagUsage=Error
lombok.log.custom.declaration=nl.pim16aap2.util.logging.FloggerFacade nl.pim16aap2.util.logging.FloggerFacadeFactory.getLogger(TYPE)
