<config>
    <input>
        <jar in="/home/pim/Documents/workspace/BigDoors/Jars/BigDoors-unobf.jar" out="/home/pim/Documents/workspace/BigDoors/Jars/BigDoors.jar"/>
    </input>

    <keep-names>
        <class access="private+">
            <field access="private+"/>
            <method access="private+"/>
        </class>
    </keep-names>

<!-- 	<property name="random-seed" value="PIM16AAP2"/> -->
    <property name="log-file" value="log.xml"/>
	<property name="string-encryption" value="disable"/>
<!--	<property name="string-encryption-type" value="fast"/> -->
<!--	<property name="string-encryption-version" value="v4"/> -->
	<property name="control-flow-obfuscation" value="enable"/>
	<property name="extensive-flow-obfuscation" value="normal"/>
	<property name="classes-naming" value="compact"/>
	<property name="local-variables-naming" value="abc"/>
	<property name="skip-renaming" value="disable"/>
 	<property name="line-numbers" value="keep"/>
	<property name="methods-naming" value="compact"/>
    <property name="synthetize-methods" value="disable"/>
    <ignore-classes>
        <class template="class java_cup.*"/>
        <class template="class cup.*"/>
        <class template="class nl.pim16aap2.jcalculator.*"/>
        <class template="class main.jflex.*"/>
    </ignore-classes>
</config>
