<?xml version="1.0" ?><!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "https://checkstyle.org/dtds/configuration_1_2.dtd">

<module name="Checker">
    <module name="LineLength">
        <property name="max" value="120"/>
    </module>

    <module name="FileTabCharacter"/>

    <module name="SuppressionFilter">
        <property name="file" value="checkstyle/checkstyle-suppressions.xml"/>
        <property name="optional" value="false"/>
    </module>

    <module name="TreeWalker">
        <!-- FunctionalInterfaces are excluded from the requirement that interfaces must start with "I" -->
        <module name="SuppressionXpathSingleFilter">
            <property name="files" value=".*\/functional\/.*\.java$"/>
            <property name="checks" value="TypeName"/>
        </module>

        <module name="SingleSpaceSeparator"/>

        <module name="MethodName"/>

        <module name="UpperEll"/>

        <module name="GenericWhitespace"/>

        <module name="AvoidStarImport"/>

        <module name="OneStatementPerLine"/>

        <module name="UnusedImports"/>

        <!-- Disabled because it complains about Lombok's @Value -->
        <!--        <module name="VisibilityModifier">-->
        <!--            <property name="protectedAllowed" value="true"/>-->
        <!--        </module>-->

        <module name="PackageName">
            <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>
        </module>

        <module name="EmptyLineSeparator">
            <property name="tokens"
                      value="PACKAGE_DEF, IMPORT, STATIC_IMPORT, CLASS_DEF, INTERFACE_DEF, ENUM_DEF, STATIC_INIT,
                             INSTANCE_INIT, METHOD_DEF, CTOR_DEF, RECORD_DEF, COMPACT_CTOR_DEF"/>
        </module>

        <module name="Regexp">
            <property name="format" value="[ \t]+$"/>
            <property name="illegalPattern" value="true"/>
            <property name="message" value="Trailing whitespace"/>
        </module>

        <module name="NoWhitespaceBefore">
            <property name="tokens"
                      value="COMMA, SEMI, POST_INC, POST_DEC, DOT,
                    LABELED_STAT, METHOD_REF"/>
            <property name="allowLineBreaks" value="true"/>
        </module>

        <module name="FallThrough">
            <property name="reliefPattern" value="\$FALL-THROUGH\$"/>
        </module>

        <module name="WhitespaceAround">
            <property name="ignoreEnhancedForColon" value="false"/>
            <property name="tokens"
                      value="ASSIGN, BAND, BAND_ASSIGN, BOR, BOR_ASSIGN, BSR, BSR_ASSIGN, BXOR, BXOR_ASSIGN, COLON,
                             DIV, DIV_ASSIGN, DO_WHILE, EQUAL, GE, GT, LAMBDA, LAND, LE, LITERAL_CATCH, LITERAL_DO,
                             LITERAL_ELSE, LITERAL_FINALLY, LITERAL_FOR, LITERAL_IF, LITERAL_RETURN, LITERAL_SWITCH,
                             LITERAL_SYNCHRONIZED, LITERAL_TRY, LITERAL_WHILE, LOR, LT, MINUS, MINUS_ASSIGN, MOD,
                             MOD_ASSIGN, NOT_EQUAL, PLUS, PLUS_ASSIGN, QUESTION, SL, SLIST, SL_ASSIGN, SR, SR_ASSIGN,
                             STAR, STAR_ASSIGN, LITERAL_ASSERT, TYPE_EXTENSION_AND"/>
        </module>

        <module name="LeftCurly">
            <property name="option" value="nl"/>
            <property name="ignoreEnums" value="false"/>
        </module>

        <module name="RightCurly">
            <property name="option" value="alone"/>
        </module>

        <module name="TypeName">
            <property name="format" value="^[A-Z]([a-zA-Z0-9]+)*$"/>
        </module>

        <module name="TypeName">
            <property name="format" value="^I[A-Z][a-zA-Z0-9]*$"/>
            <property name="tokens" value="INTERFACE_DEF"/>
        </module>
    </module>
</module>
