name: Test, build, and check BigDoors

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # First use J8 for BuildTools, as older versions don't like being compiled
      # With newer versions of Java. Generally, up until MC1.16, Java 8 will be fine.
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'maven'

      - name: Compile 1.15.2 Minecraft Spigot
        uses: SpraxDev/Action-SpigotMC@v4.1.0
        with:
          # Comma-separated list of MC versions to compile.
          versions: 1.15.2

      # Now set up the actual JDK we'll use for the project itself.
      - name: Set up JDK 19
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '19'
          cache: 'maven'

      - name: Compile 1.19.3 Minecraft Spigot
        uses: SpraxDev/Action-SpigotMC@v4.1.0
        with:
          # Comma-separated list of MC versions to compile.
          versions: 1.19.3

      - name: Build the project and run static analysis tools.
        run: mvn --batch-mode clean -P=errorprone test package checkstyle:checkstyle pmd:check

      - name: Build the documentation site
        run: mvn --batch-mode site

      - name: Upload doortypes
        uses: actions/upload-artifact@v3
        with:
          name: DoorTypes
          path: bigdoors-doors/DoorTypes/*.jar

      - name: Upload BigDoors-Spigot
        uses: actions/upload-artifact@v3
        with:
          name: BigDoors-Spigot
          path: bigdoors-spigot/spigot-core/target/BigDoors-Spigot.jar

      # Publish java doc page when a commit/PR is pushed/merged to master
      - name: Deploy Javadoc
        uses: JamesIves/github-pages-deploy-action@v4.4.1
        with:
          branch: gh-pages
          folder: target/site/apidocs
          target-folder: javadoc
        if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true
