name: Test, build, and upload ArchitectureAnimator

on:
  push:
    branches:
      - master
      - 'release/**'
      - 'epic/**'
  pull_request:
    branches:
      - master
      - 'release/**'
      - 'epic/**'

  workflow_dispatch:

env:
  MAVEN_OPTS: "-Dorg.slf4j.simpleLogger.showDateTime=true -Dorg.slf4j.simpleLogger.dateTimeFormat=HH:mm:ss,SSS"

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Set up JDK 21
        uses: actions/setup-java@c1e323688fd81a25caa38c78aa6df2d33d3e20d9 # v4.8.0
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Cache local Maven repository
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build the project and run static analysis tools.
        run: mvn --batch-mode -P=errorprone clean test install checkstyle:checkstyle pmd:check -Dactions.run.id=$GITHUB_RUN_ID -Dactions.run.number=$GITHUB_RUN_NUMBER

      - name: Build the javadocs
        run: mvn --batch-mode -P=docs -DskipTests install antrun:run lombok:delombok javadoc:javadoc javadoc:aggregate
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/heads/release/')

      - name: Upload AnimatedArchitecture-Spigot
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: AnimatedArchitecture-Spigot
          path: animatedarchitecture-spigot/spigot-packager/target/AnimatedArchitecture-Spigot.jar
          if-no-files-found: error
          compression-level: 0

      - name: Deploy Javadoc
        uses: JamesIves/github-pages-deploy-action@9d877eea73427180ae43cf98e8914934fe157a1a # v4.7.6
        with:
          branch: gh-pages
          folder: target/reports/apidocs
          target-folder: javadoc
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/heads/release/')

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          directory: report-aggregate/target/site/jacoco-aggregate
          token: ${{ secrets.CODECOV_TOKEN }}
